.program .headerDesc {
  display: flex;
}
.program .header {
  display: flex;
  justify-content: space-between;
}
.program .header h3 { 
  margin: 1rem 0;
}
.program .header p {
  max-width: 80%;
}
.program .header .imgWrapper {
  max-width: 150px;
  margin-right: 2rem;
}
.program .header .imgWrapper img{
  width: 100%;
  border-radius: 5px;
}
.program .episodes {
 margin: auto;
}
.program .header .button {
  align-self: flex-end;
  margin: 0 1rem;
  display: flex;
  align-items: center;
}
.program .header .button button.notInFavourites {
  border-radius: 50%;
  background-color: rgb(34, 34, 34);
  color: white;
  padding: 0 .4rem .2rem;
  border: 2px solid white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: .3s;
  margin: 0 .5rem;
  font-weight: 700;
}
.program .header .button button.notInFavourites:hover {
  background-color: white;
  color: black;
}
button.inFavourites {
  border-radius: 50%;
  padding: 0 .4rem .2rem;
  border: 2px solid white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: .3s;
  margin: 0 .5rem;
  font-weight: 700;
  background-color: white;
  color: rgb(34, 34, 34);
  transform: rotate(45deg);
}
button.inFavourites:hover {
  background-color: rgb(34, 34, 34);
  color: white;
}

@media only screen and (max-width: 600px){
.program .headerDesc {
  display: block;
}
.program .headerDesc .imgWrapper {
  max-width: 100px;
}
.program .header {
  display: block;
}
.program .header .button {
  margin: 1rem 0;
}
.program .header p {
  max-width: 100%;
}
.program .header h1 {
  font-size: 1.5rem;
  margin: .5rem 0;
}
.program .header h3 {
  font-size: 1.1rem;
  margin: .5rem 0;
}
}